<!DOCTYPE html>
<html>
<head>
  <title>Hackstars</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <div class="container">
    <header>
    <a href="/"><%= image_tag "logo.png", id: "logo" %></a>
    </header>
  <nav class="well">
	<ul>
		<% hackstars.each do |hackstar| %>
		<li> <%= link_to hackstar.name + ' >', hackstar, { class: "btn primary" } %> </li>
		<% end %>
	</ul>
	</nav>
	

  <div id="content" class="well">
    <%= yield %>
    <div id="profile">
      <h1 id="name"></h1>
      <img />
      <p>
    </div>
  </div>
	</div>

</body>
</html>
