<!DOCTYPE html>
<html>
<head>
  <title>Hackstars</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="background">
		<div class="container">
			<header>
				<a href="/"><%= image_tag "logo.png", id: "logo" %></a>
			</header>
			<nav class="well">
				<h4>Submit a Work Request:</h4>
				<ul>
					<li> <%= link_to 'Submit >', new_request_path, { class: "btn secondary" } %> </li>
				</ul>
				<h4>Meet the hackstars:</h4>
				<ul>
					<% hackstars.each do |hackstar| %>
					<li> <%= link_to hackstar.name + ' >', hackstar, { class: "btn primary" } %> </li>
					<% end %>
				</ul>
			</nav>
	

			<div id="content" class="well">
			    <%= yield %>
			    <div id="profile">
			      <h1 id="name"></h1>
			      <img />
			      <p>
			    </div>
			</div>
		</div>
	</div>
	<%= render 'layouts/footer'%>
	

</body>
</html>
